$txtcolor-nav: rgba(11, 223, 205, 0.719);
$bgcolor-nav: hsla(258, 62%, 60%, 0.678);
$font-stack1: "Source Sans Pro", sans-serif;
$font-stack2: Bungee;
$button-ptr: pointer;
$bgbody: #f4f1ec;
$txtbody: #545149;

@mixin flexTemplate($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}