.anchor-toggle                                                                                                                                                                                                                                                                                                                                                                                                                 {
  border-radius: 100%;
  background-color: hsla(258, 62%, 60%, 0.678);
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
}

.anchor-toggle a {
  color: rgba(11, 223, 205, 0.719);
}