@import "./variables";

.profile {
  padding-top: 120px;
  @include flex-template(column, center, center);
  height: 520px;
  background-color: $bgprofile;
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: inherit;
}
