@import "./variables";

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  width: 90%;
  margin-top: 2em;
  background-color: inherit;
  background-image: inherit;
  font-family: inherit;
  align-self: center;
}

body {
  color: $txtbody;
  background-color: $bgbody;
  font-size: 24px;
  font-family: $font-stack1;
  @include flexTemplate(column, normal, normal);
}

.tweet-log {
  @include flexTemplate(column-reverse, normal, normal);
}

.media-container {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  @include flexTemplate(row, space-around, normal);
}

.container,
.profile {
  width: 100%;
}

@media (min-width: 768px) {
  nav {
    background-color: $bgcolor-nav;
  }

  nav button {
    background-color: hsla(258, 72%, 70%, 0.678);
  }

  .media-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 55%;
    padding-top: 150px;
  }
  .profile {
    padding-top: 380px;
    padding-bottom: 380px;
    width: 37%;
  }
}

.profile {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 520px;
  justify-content: center;
  background-color: rgb(215, 213, 216);
  background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
  font-family: inherit;
}

.anchor-toggle {
  border-radius: 100%;
  background-color: $bgcolor-nav;
  width: 2em;
  height: 2em;
  @include flexTemplate(row, center, center);
  border: none;
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  color: $txtcolor-nav;
  cursor: pointer;
}

.anchor-toggle:hover {
  width: 2.04em;
  height: 2.04em;
}

button {
  outline: none;
  cursor: $button-ptr;
}

nav {
  padding: 1.5em;
  @include flexTemplate(row, space-around, flex-end);
  box-sizing: border-box;
  height: 120px;
  font-family: $font-stack2;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsla(258, 62%, 60%, 0);
  span {
    font-size: 2em;
    color: $txtcolor-nav;
  }
  button {
    align-self: center;
    animation: glow 1.5s ease-in-out infinite alternate;
    cursor: pointer;
    background-color: hsla(258, 72%, 70%, 0.078);
    border: none;
    &:before {
      content: "\00bb";
    }
    &:after {
      content: " \00ab";
    }
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #4d5b5f;
  }
  to {
    text-shadow: 0 0 40px #34b3c1, 0 0 30px #0cc0d4;
  }
}

#tweet-text {
  resize: none;
  border: none;
  white-space: textwrap;
  border-bottom: 3px solid black;
  background-color: #f4f1ec;
  padding-left: 1em;
  padding-top: 0.5em;
  width: 90%;
  align-self: center;
}

.red {
  color: red;
  font-weight: bold;
}

.blur {
  opacity: 0;
}

form {
  @include flexTemplate(column, center, normal);

  button {
    font-family: $font-stack2;
    background-color: $bgcolor-nav;
    color: $bgbody;
    align-self: center;
    margin-left: 1.5em;
  }

  div {
    padding: 0.5em;
    @include flexTemplate(row, space-between, center);
  }

  span {
    color: red;
    font-size: 0.8em;
    border: solid 1px red;
    border-radius: 5%;
    padding: 0.3em;
  }
}

.counter {
  margin-right: 1.5em;
}

.c-error {
  background-color: #ecc0cd !important;
  border: 3px solid #c51244 !important;
  border-radius: 1.6%;
}

article {
  height: 20%;
  width: 90%;
  align-self: center;
  padding: 0.4em;
  border: solid grey 3px;
  margin-bottom: 1em;
  margin-top: 1em;
  @include flexTemplate(column, space-around, normal);

  span {
    @include flexTemplate(row, normal, center);
    padding-left: 0.3em;
    padding-right: 0.3em;
  }

  header {
    font-family: inherit;
    @include flexTemplate(row, space-between, center);
    font-size: 0.8em;
    flex-basis: 1.1em;
  }

  img {
    opacity: 0.3;
    width: 40px;
  }

  div {
    justify-self: flex-end;
    opacity: 0;
  }

  div img {
    width: 15px;
    margin-left: 3px;
    margin-right: 3px;
  }

  footer {
    font-family: inherit;
    @include flexTemplate(row, space-between, normal);
    font-size: 0.8em;
  }

  body {
    font-family: inherit;
    justify-self: center;
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    border-bottom: solid 3px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    padding-left: 0.6em;
    padding-right: 0.6em;
  }

  &:hover {
    box-shadow: 5px 10px #888888;
    font-weight: bold;
  }
}

.hover-div {
  opacity: 0.95;
}
