@import "./variables";

nav {
  @include flex-template(row, space-around, center);
  padding-left: 1.5em;
  padding-right: 1.5em;
  box-sizing: border-box;
  height: 120px;
  font-family: Bungee;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: hsla(0, 0, 0, 0);
  span {
    font-size: 2em;
    color: $txtcolor-nav;
  }
  button {
    align-self: center;
    animation: glow 1.5s ease-in-out infinite alternate;
    cursor: $btn-ptr;
    background-color: $navbtn-color;
    border: none;
    &:before {
      content: "\00bb";
    }
    &:after {
      content: " \00ab";
    }
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #4d5b5f;
  }
  to {
    text-shadow: 0 0 40px #34b3c1, 0 0 30px #0cc0d4;
  }
}
