nav {
  padding: 1.5em;
  display: flex;
  justify-content: space-around;
  background-color: hsla(258, 62%, 60%, 0.678);
  box-sizing: border-box;
  height: 120px;
  align-items: flex-end;
  font-family: Bungee;
  position: fixed; 
  top: 0; 
  width: 100%;

}
nav span {
  font-size: 2em;
  color: rgba(11, 223, 205, 0.719);

}
nav a {
  align-self: center;
  animation: glow 2s ease-in-out infinite alternate;
}
nav a:before {
  content: '\00bb';
}
nav a:after {
  content: ' \00ab';

}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}
